// Place all the styles related to the Compliments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.greeting {
  color: #af0155;
  font-size: 20px;
  display: inline-block;
  width: 25%;
  margin-right: -4px;
  text-align: center;
}
div .hello {
  color: red;
  font-size: 40px;
}


// --------------------


body {
  font-family: sans-serif;
  text-align: center;
}

.compliment-container {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.compliment {
  border: 1px solid black;
  margin: 15px;
  padding: 15px;
  position: relative;
  max-width: 600px;
  min-height: 100px;
  display: inline-block;
  width: 20%;
}

img {
  width: 100%;
}

div {
  min-height: 50px;
}

button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 15px;
  padding: 10px 25px;
  font-size: 15px;
}

.compliment-message {
  height: 100px;
}

.trash {
  text-align: left;
  cursor: pointer;
}

.favorite {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .compliment {
    width: 40%;
  }
}


@media only screen and (max-width: 650px) {
  .compliment {
    width: 100%;
  }
  .compliment-container {
    margin: 100px;
    padding: 0;
  }
}
