<!-- https://semantic-ui.com/collections/menu.html -->
<div class="ui top attached menu">
  <a class="active item">
    Complimentor
  </a>
  <a class="item">
    another link!
  </a>
  <div class="right menu">
    <div class="ui right aligned category search item">
      <div class="ui transparent icon input">
        <input class="prompt" type="text" placeholder="Search animals...">
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
</div>
<div class="ui bottom attached segment">
  <p></p>
</div>
