<h3>Hi! I'm <%= @student.name %>! Also, I'm <%= @student.age %> years old.</h3>
<p>My favorite band is <%= @student.favorite_band %>!! They rock.</p>
<p>Also, my favorite movie is <%= @student.favorite_movie %>. So good.</p>
